$color-primary: red;
$color-secondary: blue;
$color-tertiary: green;

.exercise {
border: 1px solid $color-primary;

    .exercise-title {
        color: $color-tertiary;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: $color-secondary;
        text-decoration-thickness: 1px;
    }

    .all-boxes {
        display: flex;
        padding: 1rem;

        .p-box {
            border: 1px solid $color-tertiary;
            text-align: center;
            padding: 1rem;
            .p-1 {
                color: $color-secondary;
            }

            .p-2 {
                color: $color-primary;
            }
        }
    }
}

